.navigation-bar{
    display:flex;
    justify-content:space-between;
    list-style-type:none;
    background-color:aquamarine;
    margin-right:1000px;
    margin-top:50px;
    margin-bottom:50px;
    font-family:sans-serif;
    font-size:24px;
    padding:20px;
    padding-right:40px;
    padding-left:40px;

}

nav ul li{
    padding:5px;
    color:bisque;
}

a:hover{
    background-color:brown;
}

a:active{
    background-color:blue;
}

img {
    width:100px;
}

.disappear{
    display:none;
}

@media (min-width:700px) {
    .toggle-menu{
        display:none;

    }
    .disappear{
        display:block;
    }
    
}

@media (max-width:700px){
    .navigation-bar{
        display:flex;
        flex-direction:column;
        width:100%;
        padding:0;
        margin:0;
        align-items:center;
    }
    .menu{
        width:80%;
    }
    .toggle-menu{
        width:10%;
    }
    
}
.bold{
    font-weight:bold;
}